.header-container{
    height: 50px;
}

header{padding:10px 0;}

.header-button{
    height:30px;
    width:40px;
}

.header-button img{
    margin-top:1px;
    background-size: 22px 22px;
    width:22px;
    height:22px;
}

#headerOptions{
    left:10px;
    top:8px;
}

#headerLocation{
    right:10px;
    top:8px;
}

.location{
    padding:3px 0;
}

.location-city{
    font-size:11px;
}

.location-temp{
    font-size:14px;
}

.search-input{
    font-size:16px;
    font-weight:normal;
    line-height:36px;
    padding: 6px 0;
    width:100%;
}


.cat-tab{
    float:left;
    padding:10px 18px;
}

.cat-ico{
    margin-right:6px;
}

.cat-title{
    font-size: 11px;
    line-height:16px;
}    

.slide{
    width:400px;
    height:240px;
}

.event-art{
    width: 400px;
    height:200px;
    background-size: 400px auto;
    background-position: 0 -40px;
    border-radius:3px;
}