.header-container{
    height: 50px;
}

header{padding:10px 0;}

.header-button{
    height:50px;
    width:50px;
}

.header-button img{
    margin-top:15px;
    background-size: 22px 22px;
    width:22px;
    height:22px;
}

#headerOptions{
    left:0px;
    top:0px;
}

#headerLocation{
    right:0px;
    top:0px;
}

.location{
    padding:3px 0;
}

.location-city{
    font-size:11px;
}

.location-temp{
    font-size:14px;
}

.search-input{
    font-size:16px;
    font-weight:normal;
    line-height:36px;
    padding: 6px 0;
    width:100%;
}


.cat-tab{
    float:left;
    padding:10px 18px;
}

.cat-ico{
    margin-right:6px;
}

.cat-title{
    font-size: 11px;
    line-height:16px;
}    

.slide{
    width:400px;
    height:240px;
}

.event-art{
    width: 400px;
    height:200px;
    background-size: 400px auto;
    background-position: 0 -40px;
    border-radius:3px;
}

.event-top-wrapper{
    background:#363f44;
    background-image: linear-gradient(bottom, rgb(82,99,107) 0%, rgb(49,58,62) 100%);
    background-image: -o-linear-gradient(bottom, rgb(82,99,107) 0%, rgb(49,58,62) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(82,99,107) 0%, rgb(49,58,62) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,99,107) 0%, rgb(49,58,62) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(82,99,107) 0%, rgb(49,58,62) 100%);
    padding-top:30px;
}
.event-bottom-wrapper{background:#eee;padding-bottom:20px;}

.event-banner, .event-map, .event-detail, .event-tickets{
    width:568px;
    margin:0 auto;
}

.event-detail, .event-tickets{border-left:1px solid #aaa;border-right:1px solid #aaa;background:#fff;}
.event-detail{border-top:1px solid #ddd;width:568px;}
.event-tickets{border-bottom:1px solid #aaa;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.event-banner{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    margin-top:10px;
}

.event-banner-back{
    height:240px;
}
.event-banner-art{
    box-shadow: none;
    background-size:568px auto;
}

.event-tickets-header{width:568px;}
.footer{border:none;}